@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 1, 0.717)), url('/mywall.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: thistle;
}

header{  
    min-height: 100vh;
}
nav{
    background-color: rgba(11, 41, 78, 0.502);
    display: flex;
    justify-content: center;
    width: 100%;
    position:relative ;
    top: 0;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    list-style: none;
}

nav li{
    height: 50px;
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 1.3rem;

}
nav li:first-child{
    margin-right: auto;
}
nav a{
    text-decoration: none;
    color: thistle;
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
}
nav a:hover{
    background-color: rgb(3, 24, 61);
    text-decoration: underline;
}




.home-text{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    color: thistle;
    text-align: center;
}

.home-text p{
    font-size: 20px;
}

.home-text h1{
    font-size: 3.5rem;
    font-weight: 900;
    font-family: 'Lora', serif;
    color: thistle ;
    margin-bottom: 20px;

}

.imgBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
    gap: 20px;
}
figcaption{
    text-align: center;
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: thistle;
}
.img1{
    width: 300px;
    height: 300px;
    border-radius: 50px;
    border: 5px solid thistle;
    object-fit: cover;
    transition: transform 0.3s ease-in;
   
}
.img1 img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}
.img1:hover{
    transform: scale(1.1);
}

footer{
    color: thistle;
    width: 100%;
    text-align: center;
    background-color: rgb(11, 41, 78);
    padding: 10px 0;
}

.one-heading{
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    margin-top: 30px;
    font-family: 'Lora', serif;
    color: thistle ;
}
.para-one{
    width: 90%;
    margin: auto;
    font-size: 1.2rem;
    text-align: justify;
}
.bigtext{
    font-size: 1.5rem;
    font-weight: 700;
}
.bigletter{
    font-size: 3.5rem;
    font-weight: 900;
    color: white;
}
.divider{
    text-align: center;
    margin: 40px 0;
    font-size: 1.5rem;
    font-weight: 700;
}

.wallpaper-imgbox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
    flex-wrap: wrap;

}
.wallpaper-img1{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border: 4px solid thistle;
    object-fit: cover;;
}
.wallpaper-img1:hover{
    transform: scaleX(1.2);
}
.wallpaper-img1 img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}